<!doctype html>
<html>
    <head>
        <meta charset ="utf-8">
        <title>aboute</title>
    </head>
    <body>
        <p>{{>header}}</p>
        <p>This is the about page</p>
    </body>
    {{>footer}}
</html>