<!doctype html>
<html>
    <head>
        <meta charset ="utf-8">
        <title>projects</title>
    </head>
    <body>
        <p>{{>header}}</p>
        <p>This is the portfolio projects page</p>
    </body>
    {{>footer}}
</html>